<div class="lg:mx-auto">
  <div 
    class="package-container"
    cdkDropListGroup>
    <ng-container *ngFor="let package of packages">
      <div 
      [ngClass]="expandedPackage !== null && expandedPackage !== package.id ? 'collapsed' : ''" 
        class="package"
        cdkDropList
        [cdkDropListData]="package.products" 
        (cdkDropListDropped)="drop($event)">

        <div class="header bg-blue-200" (click)="expand(package)" cdkDragDisabled>{{package.title}}</div>

        <div class="product" *ngFor="let product of package.products" cdkDrag [cdkDragData]="product">
          <app-product [title]="product"></app-product>
        </div>
      </div>
    </ng-container>
  </div>