.package {
    @apply border border-gray-600 mx-1;

    .header {
        @apply w-full p-1 text-xl font-semibold text-center;
    }

    transition: flex 0.3s ease-out;
    flex: 1;

    
}

.collapsed {
  flex: 0 !important;
}

.package-container {
    @apply min-h-screen flex; 
}
  
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.product:last-child {
  border: none;
}

.package.cdk-drop-list-dragging .product:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
  opacity: 0;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}